<div class="container-fluid" style="margin-top:20px;">
<div class="row-fluid">
	<div class="col-md-10">
		<input type="url" class="form-control" placeholder="URL" ng-model="urlToCheck">
	</div>
	<div class="col-md-2">
		<button class="btn btn-default col-md-12" ng-click="checkURL();">Check!</button>
	</div>
</div>
<span ng-show="loading">Loading, please wait</span>
<table class="table">
  <thead>
    <tr>
      <th>Technology</th>
      <th>Probability</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="tech in checkedResults | orderBy:'probability':true">
      <td>{{tech.system}}</td>
      <td>{{(tech.probability * 100).toFixed(2)}}%</td>
    </tr>
  </tbody>
</table>
</div>

